body {
    margin: 0;
    width: 100%;
}

#content {
    margin: auto;
    width: 50%;
}

.item-card-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}

.item-card {
    margin: 5%;
}
.item-card img {
    display: block;
    width: 100%;
}

@media only screen and ((min-width: 600px) and (min-device-width: 600px)) {
    .first-item-card {
        grid-column-end: span 2;
        grid-row-end: span 2;
        margin: 2.5%;
    }
}



@media only screen and ((max-width: 600px) or (max-device-width: 600px)) {
    .item-card-container {
        display: inline-block;
        overflow: hidden;
        background-color: blueviolet;
        white-space: nowrap;
    }
    .item-card{
        display:none;
    }
    .current-item-card{
        display:block;
    }
}