body {
    margin: 0;
    width: 100%;
}

#content {
    margin: auto;
    width: 50%;
}

.item-card-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
}

.item-card {
    margin: 5%;
}
.item-card img {
    display: block;
    width: 100%;
}

.first-item-card {
    grid-column-end: span 2;
    grid-row-end: span 2;
    margin: 2.5%;
}


@media screen and (max-device-width: 640px) {
    .item-card-container {
        display: inline-block;
        overflow: hidden;
        background-color: blueviolet;
        white-space: nowrap;
    }
    .first-item-card {
        margin:5%
    }
    .item-card{
        display:none;
    }
    .current-item-card{
        display:block;
    }
}